.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;

    font-family: sans-serif;
    background-color: var(--black);
    background-image: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)), url('/static/login-background.jpg');
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
}

.headerWrapper {
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: row;
    display: flex;
}

.logoLink {
    display: flex;
    font-weight: 500;
    align-items: center;
    color: var(--white10);
    margin-bottom: 16px;
}

.logoWrapper {
    color: var(--red);
    width: 128px;
}

.main {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 10;
    justify-content: center;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 6rem;
    padding-top: 32px;
    background-color: var(--black20);
    height: 33.333333%;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 6px;
    min-width: 240px;
}

.signInHeader {
    color: var(--white10);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 32px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    padding: 16px 8px 0 8px;
    color: rgba(175, 168, 168, 0.6);
    width: 100%;
    padding-bottom: 16px;
    height: 48px;
    min-width: 240px;
    font-size: 1.2rem;
}

.userMsg {
    width: 100%;
    height: 28px;
    max-width: 261px;
    padding: 7px 5px;

    color: var(--white20);
}

.loginBtn {
    background-color: var(--red10);
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    line-height: 28px;
    color: var(--white10);
    width: 100%;
    min-width: 240px;
    border-radius: 6px;
    margin-top: 24px;
}

.singUpWrapper {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .headerWrapper {
        padding-left: 64px;
        padding-right: 64px;
        flex-direction: row;
        align-items: center;
    }

    .logoLink {
        margin-bottom: 0px;
    }

    .mainWrapper {
        margin-top: 30px;
    }
}

@media (max-width: 450px) {
    .container {
        padding: 0 16px;
    }

    .mainWrapper {
        width: 100%;

        justify-content: center;

        padding-left: 25px;
        padding-right: 25px;
    }

    .inputWrapper span,
    .singUpWrapper {
        white-space: nowrap;
    }


}
